@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Course Selection Page</h2>
        <p>
            The Course selection page allows students to make their option selection preferences for their third and fourth terms at BCIT in the CST program.
        </p>
        <p>
            If you've logged in and do not see a link for your option selection, then you don't have the role needed to make a choice, sorry :'(
        </p>
    </div>
</div>